/*Annette meny*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
*{
    list-style: none;
    text-decoration: none;
}
nav {
    display: block;
    position: static;
    width: 100%;
    height: 80px;

    background-color: #282b42;
}

nav ul{
  float: right;
  margin-right: 20px;
  list-style: none;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  list-style: none;
}
nav ul li a{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  list-style: none;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
    display: inline-block;
    position: relative;
    list-style: none;
    text-decoration: none;
}


li a:hover {
    color: #707070;
}

.logo{
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  border: 3px;
  margin-top: 15px;
  margin-left: 20px;
  border-style: solid;
  border-color: white;
  padding: 5px;
  display: inline-block;

}

#Product_info{
  width: 100%;
}

#Product_info h1{
  padding: 2%;
  text-align: center;
  width: 50%;
  padding-bottom: 4%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 1px;
}

#Product_info h2{
  padding-top: 4%;
  text-align: center;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 1px;
}

#Product_info h3{
  width: 50%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-top: 4%;
  font-size: 28px;
  letter-spacing: 1px;
  padding-bottom: 2%;
  text-transform: uppercase;
}

#Product_info p{
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
  letter-spacing: 2px;
}

#visjonheading{
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin: 0 auto;
  font-size: 20px;
  letter-spacing: 1px;
  padding-bottom: 1%;
}

.InfoText p{
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 1%;
}

div img{
  width: 50%;
  height: auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 3%;
  padding-top: 10%;
}

/*   okab */
.grid-container{
  width: 100%;
  clear: left;
  overflow: hidden;
  float: left;
}

.grid-items1{
  /* height: 100%; */
  /* text-align: left; */
  float: left;
  width: 50%;
  position: absolute;
  right: 35%;
  padding-top: 19px;
}

.grid-items1 h1{
  padding: 1%;
  width: 60%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-transform: uppercase;
   font-weight: 550;
  letter-spacing: 1px;
  color: black;
  font-size: 25px;
  padding-left: 1%;
  padding-bottom: 3%;
}

.grid-items1 span{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;

}

.grid-items1 i{
  color: #f55c45;
  padding:1%;
  padding-left: 20%;
  font-size: 25px;
}

.grid-items1 h2{
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0 auto;
  font-weight: 550;
  letter-spacing: 1px;
  color: black;
  padding-left: 1%;
  padding-bottom: 2%;

}
.grid-items2{
  position: relative;
  display: inherit;
  left: 15%;

}
form{
  width: 50%;
  display: block;
  align-content: right;
  float: right;
}

.grid-items2 form{
  width: 70%;
 justify-content: right;
  left: 10%;
  float: right;
  position: relative;
   padding-left: 1%;
  padding-right: 2%;
}

 .grid-items2 form input{
  border-radius: 5px/5px;;
  text-align: left;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 35%;
  height: auto;
  border: 1px solid lightgrey;
}

 .grid-items2 form textarea{
  border-radius: 5px/5px;;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 35%;
  height: 15%;
  border: 1px solid lightgrey;
  margin-bottom: 1%;
}

 .grid-items2 form button{
  padding: 1%;
  width: 10%;
  height: 10%;
  margin: 2%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border: 1px solid lightgrey;
}
  /*   okab   */


footer{
  background-color: #282b42;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  font-weight: 900;
  margin-top: 30px;
  color: white;
}

footer a{
  color: white;
  text-decoration: none;
  transition: .15s;
}

footer a:hover{
  opacity: .2;
}
